In [65]:
from langchain.llms import GooglePalm
from dotenv import load_dotenv
import os

load_dotenv()
api_key = os.getenv('GOOGLE_API_KEY')

In [66]:
llm = GooglePalm(google_api_key= api_key, temperature=0.7)

In [67]:
print(llm('how to make vada paav with time calculation'))

**Ingredients**

* 1 cup urad dal (black gram)
* 1/2 cup rice
* 1 green chili, chopped
* 1/2 teaspoon ginger-garlic paste
* 1/2 teaspoon cumin seeds
* 1/4 teaspoon turmeric powder
* 1/2 teaspoon red chili powder
* 1/4 teaspoon garam masala powder
* 1/2 teaspoon salt
* Oil for deep frying
* 4 bread buns, split
* 1/2 cup green chutney
* 1/2 cup tamarind chutney
* 1/4 cup finely chopped onions
* 1/4 cup finely chopped tomatoes
* 1/4 cup cilantro leaves, for garnish

**Instructions**

1. Soak the urad dal and rice in water for 4-5 hours.
2. Drain the water and grind the dal and rice together to a smooth paste. Add the green chili, ginger-garlic paste, cumin seeds, turmeric powder, red chili powder, garam masala powder, and salt. Mix well to combine.
3. Heat oil in a deep frying pan. Drop spoonfuls of the batter into the hot oil and fry until golden brown. Drain on paper towels.
4. To assemble the vada pav, split the buns in half. Spread some green chutney on the bottom half of each bun. Add a vada, then top with tamarind chutney, onions, tomatoes, and cilantro leaves. Serve immediately.

**Total time:** 1 hour 30 minutes (includes soaking time)

## Now we are connecting with our database from MySQL

In [68]:
from langchain.utilities import SQLDatabase

In [69]:
db_user ='root'
db_password ='root'
db_host ='localhost'
db_name ='atliq_tshirts'

In [70]:
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}", sample_rows_in_table_info=3)

In [71]:
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Nike	Blue	M	50	33
2	Levi	Black	L	28	16
3	Van Huesen	White	M	47	98
*/

In [72]:
from langchain_experimental.sql import SQLDatabaseChain

In [73]:
db_chain = SQLDatabaseChain(llm = llm, database = db, verbose = True)

C:\ML Projects\LLM - Projects\SQL_LLM\sql_llm\Lib\site-packages\langchain_experimental\sql\base.py:75: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [74]:
q1 = db_chain.run('how many nike tshirts in small size')

> Entering new SQLDatabaseChain chain...
how many nike tshirts in small size
SQLQuery:SELECT count(*) FROM t_shirts WHERE brand='Nike' AND size='S'
SQLResult: [(3,)]
Answer:3
> Finished chain.

In [75]:
q1

'3'

In [76]:
q2 = db_chain.run('how much is the price of inventory for all small size tshirts?')

> Entering new SQLDatabaseChain chain...
how much is the price of inventory for all small size tshirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('311'),)]
Answer:311
> Finished chain.

in the above example we could have like wrong answer i dont how did it manage to give correct answer bt we will giver it few more  defilcult so we will decide how we can improve it

In [77]:
# q3 = db_chain.run('if we have to sell all the levis tshorts today with discount applied how much our store will genrate')

see in this question is dificult to address like its complex query and many it is using its own genrel knowledge like usually 
wehen get this question there should be coulumns like start date of discount and end date of discount we cant give discount all days so problem was that in our database we did not have any columns like startdate and enddate theen it uses oown knowledege without looking into database so we have to solve this problem suing concept of "few shot learning" lets see how we will use it

In [78]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

q3 = db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('17178.550000'),)]
Answer:17178.55
> Finished chain.

In [79]:
q4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('17482'),)]
Answer:17482
> Finished chain.

In [80]:
q5 = db_chain.run("How many white color Levi's t shirts we have available?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's t shirts we have available?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(70,), (17,), (15,)]
Answer:70
> Finished chain.

Once again above is the wrong answer. We need to use SUM(stock_quantity). Let's run the query explicitly. We will use the result of this query later on in the notebook

In [81]:
qns5 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('102'),)]
Answer:102
> Finished chain.

### Few shot learning

We will use few shot learning to fix issues we have seen so far

In [82]:
few_shots = [
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': q3} ,
    
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : q4},
    
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : q5
     }
]

In [83]:
exmpl = {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : str(q5)
     }

# Embedding

In [84]:
from langchain.embeddings import HuggingFaceBgeEmbeddings

In [85]:
embeddings = HuggingFaceBgeEmbeddings(model_name = 'sentence-transformers/all-MiniLM-L6-v2')

In [86]:
string = "How many white color Levi's shirt I have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White',Result of the SQL query,q5"

In [87]:
emb = embeddings.embed_query(string)

In [88]:
emb

[0.0745023638010025,
 0.09563492238521576,
 0.043689947575330734,
 0.0679817795753479,
 -0.06574059277772903,
 0.09028568863868713,
 0.11574981361627579,
 0.028198814019560814,
 0.009002607315778732,
 -0.03358960524201393,
 0.03320828452706337,
 -0.05517894774675369,
 0.07388364523649216,
 -0.055601902306079865,
 -0.0139928562566638,
 0.08721467852592468,
 0.06056702509522438,
 -0.00888493936508894,
 -0.05119819566607475,
 -0.11206994950771332,
 -0.017493221908807755,
 -0.094902403652668,
 0.03700924292206764,
 0.02817426808178425,
 -0.006441052071750164,
 -0.009022473357617855,
 -0.03166380897164345,
 0.04303469881415367,
 0.04767058044672012,
 -0.032439589500427246,
 -0.10947806388139725,
 0.015154656022787094,
 0.02915545180439949,
 0.08769181370735168,
 -0.04680688679218292,
 -0.09288018941879272,
 -0.0011354589369148016,
 -0.05449717864394188,
 0.004341609310358763,
 -0.011137791909277439,
 0.0033972705714404583,
 -0.061633795499801636,
 -0.01183480117470026,
 0.04359811171889305,
 0.06796283274888992,
 0.01449108961969614,
 -0.04151901230216026,
 0.10752183198928833,
 0.06333552300930023,
 -0.04424184188246727,
 -0.07695047557353973,
 0.025897538289427757,
 -0.0189074520021677,
 0.00521807698532939,
 0.029074301943182945,
 -6.294214108493179e-05,
 -0.03940318524837494,
 0.018561948090791702,
 -0.04997005686163902,
 -0.007737557403743267,
 -0.05320262536406517,
 -0.035625409334897995,
 -0.016441915184259415,
 0.041044291108846664,
 0.06602095812559128,
 -0.008870106190443039,
 -0.022188741713762283,
 0.02586776576936245,
 0.00525665795430541,
 -0.03942384198307991,
 0.034783389419317245,
 0.004056646954268217,
 0.012036680243909359,
 0.08595583587884903,
 -0.07454626262187958,
 0.07072163373231888,
 0.06374213844537735,
 0.01819661632180214,
 -0.024428721517324448,
 0.00932507123798132,
 -0.05276448279619217,
 -0.003770449198782444,
 -0.08929166942834854,
 0.04586609825491905,
 0.06162688136100769,
 0.010964181274175644,
 0.0273271556943655,
 0.007698088884353638,
 0.009636856615543365,
 -0.03618261218070984,
 -0.022817537188529968,
 0.016379863023757935,
 -0.015530817210674286,
 -0.06187305971980095,
 0.04368077963590622,
 0.012117556296288967,
 -0.01123872585594654,
 -0.03958282247185707,
 0.09580866247415543,
 -0.020886097103357315,
 0.06663480401039124,
 0.017009159550070763,
 0.01763262040913105,
 -0.05827948823571205,
 -0.18427774310112,
 -0.005410289857536554,
 0.07802073657512665,
 0.11314579844474792,
 0.022695794701576233,
 -0.07281183451414108,
 -0.04089133068919182,
 -0.036556825041770935,
 0.02793572098016739,
 -0.04666968062520027,
 -0.028389373794198036,
 0.0090414984151721,
 0.06509682536125183,
 0.06946362555027008,
 0.02974628657102585,
 -0.0656249076128006,
 0.07133305072784424,
 0.0631902813911438,
 0.0038137577939778566,
 -0.02348221465945244,
 -0.09731405973434448,
 -0.04571074992418289,
 -0.026555247604846954,
 -2.0363116189943334e-33,
 -0.013055757619440556,
 -0.054726310074329376,
 0.010071981698274612,
 0.013585616834461689,
 0.03431069105863571,
 9.857519034994766e-05,
 0.037555497139692307,
 0.04894130676984787,
 -0.02366458810865879,
 0.0374005027115345,
 0.03716948255896568,
 0.0011103147407993674,
 -0.06666719168424606,
 0.04395228251814842,
 0.03265354782342911,
 0.02342974953353405,
 0.007603316102176905,
 -0.05477766692638397,
 -0.04969833418726921,
 0.0008970180642791092,
 0.007865622639656067,
 -0.022625766694545746,
 0.029250051826238632,
 0.07165494561195374,
 0.03642406687140465,
 0.002094204304739833,
 0.0019712999928742647,
 0.03618498519062996,
 -0.004361097235232592,
 -0.011162788607180119,
 0.03682488948106766,
 -0.010283328592777252,
 -0.06521672010421753,
 -0.10843006521463394,
 -0.0009294797200709581,
 0.05956782028079033,
 -0.03510928899049759,
 0.02492937445640564,
 0.08033198863267899,
 0.0898798331618309,
 -0.0016879524337127805,
 0.002103951992467046,
 0.04214894026517868,
 0.009168438613414764,
 0.012926560826599598,
 0.045020606368780136,
 -0.021416714414954185,
 -0.09909966588020325,
 -0.0426868200302124,
 0.016114989295601845,
 -0.0048559242859482765,
 -0.0760006308555603,
 -0.010196343995630741,
 0.02089463360607624,
 0.08126308768987656,
 -0.025999924167990685,
 -0.007377401925623417,
 -0.018145792186260223,
 -0.024022316560149193,
 0.03324897959828377,
 -0.0602600984275341,
 0.019562195986509323,
 0.06750842183828354,
 -0.009825287386775017,
 -0.01791522651910782,
 0.08354809135198593,
 0.004538585431873798,
 0.014771593734622002,
 -0.016938887536525726,
 0.06188367307186127,
 0.0028457012958824635,
 0.052950914949178696,
 0.013628178276121616,
 0.0006276321946643293,
 -0.0018135933205485344,
 -0.025163516402244568,
 0.039373066276311874,
 0.005018576048314571,
 -0.008813869208097458,
 0.007556434255093336,
 -0.03407316654920578,
 -0.03982839733362198,
 -0.013604630716145039,
 0.10495036840438843,
 -0.03686830773949623,
 0.030186275020241737,
 0.04609789699316025,
 -0.017577316612005234,
 0.04354673624038696,
 -0.0554896742105484,
 -0.02470635622739792,
 0.009287426248192787,
 -0.02601449191570282,
 -0.0009416732937097549,
 -0.048004068434238434,
 -9.002365528719097e-34,
 -0.076710544526577,
 0.022557100281119347,
 -0.00013953518646303564,
 -0.03531459718942642,
 -0.0521252378821373,
 -0.001237116171978414,
 0.049177803099155426,
 -0.03632610663771629,
 -0.031730569899082184,
 0.049279309809207916,
 0.046004798263311386,
 0.002085805404931307,
 -0.043719299137592316,
 0.01261951308697462,
 -0.08310701698064804,
 0.11089345812797546,
 -0.03202681243419647,
 0.1005420908331871,
 -0.0005874505150131881,
 0.06387314200401306,
 -0.1350967288017273,
 0.08483777940273285,
 0.046385571360588074,
 0.02040347456932068,
 0.005104868207126856,
 0.07406757026910782,
 0.06429789960384369,
 -0.03377581760287285,
 -0.07461236417293549,
 0.013349856249988079,
 0.04881471022963524,
 -0.15500269830226898,
 0.04826616495847702,
 0.008762671612203121,
 0.018750611692667007,
 -0.04483291506767273,
 0.03887811675667763,
 -0.04221411794424057,
 0.0030914926901459694,
 -0.04892539978027344,
 0.01191263273358345,
 -0.03829001635313034,
 0.12585413455963135,
 0.0414808914065361,
 -0.058315373957157135,
 -0.0898231789469719,
 -0.01863623410463333,
 -0.10564642399549484,
 -0.01353735476732254,
 0.045419931411743164,
 0.05439332127571106,
 -0.01105837244540453,
 -0.03283223137259483,
 -0.000229778845096007,
 -0.014960244297981262,
 0.03705541417002678,
 0.007638067007064819,
 0.11597538739442825,
 -0.024414464831352234,
 -0.001139142201282084,
 -0.059219229966402054,
 0.12319234013557434,
 -0.1031249538064003,
 0.016319353133440018,
 0.0634872317314148,
 -0.018341071903705597,
 -0.05372779443860054,
 -0.029790466651320457,
 -0.06753300130367279,
 -0.010777197778224945,
 -0.0714452788233757,
 -0.02913237176835537,
 0.0908370390534401,
 0.02456536516547203,
 -0.028925616294145584,
 0.058437611907720566,
 -0.06021253392100334,
 0.05939442664384842,
 -0.06378576904535294,
 0.08175517618656158,
 0.011515066958963871,
 -0.07455389946699142,
 0.057713404297828674,
 -0.005224641412496567,
 -0.0783759132027626,
 0.0461193211376667,
 -0.020882105454802513,
 0.025631798431277275,
 0.03044254519045353,
 0.03118773177266121,
 0.013066202402114868,
 0.01637793704867363,
 0.005854688119143248,
 -0.0779382735490799,
 0.02880355529487133,
 -2.697378143068363e-08,
 0.008841041475534439,
 -0.04295670613646507,
 0.043563857674598694,
 0.01300993375480175,
 0.09324051439762115,
 -0.01093656662851572,
 -0.023804791271686554,
 -0.03987007215619087,
 -0.07184632122516632,
 0.07674788683652878,
 -0.09148120135068893,
 -0.028764203190803528,
 -0.04665566608309746,
 -0.0028666292782872915,
 -0.09934640675783157,
 -0.02085595577955246,
 -0.06793022155761719,
 -0.014551016502082348,
 0.013638769276440144,
 -0.09069515764713287,
 -0.052995484322309494,
 0.035697951912879944,
 -0.004226238466799259,
 0.03482244908809662,
 -0.0645362064242363,
 0.015852507203817368,
 -0.05145956948399544,
 0.053943440318107605,
 0.02402244135737419,
 0.018796073272824287,
 0.06318100541830063,
 0.006871256977319717,
 -0.02684723772108555,
 0.026036592200398445,
 0.0011529658222571015,
 -0.05618875473737717,
 -0.06326394528150558,
 -0.03515973687171936,
 -0.03886216878890991,
 0.011444701813161373,
 -0.08326046168804169,
 -0.02838859148323536,
 0.03362739831209183,
 0.021679198369383812,
 0.05845721438527107,
 -0.09486673027276993,
 -0.06185506656765938,
 0.034267473965883255,
 -0.04583581164479256,
 0.0077645061537623405,
 0.043329186737537384,
 -0.09608400613069534,
 0.00232398952357471,
 0.009674393571913242,
 -0.09612333029508591,
 -0.018114738166332245,
 0.02114146202802658,
 0.06129707396030426,
 0.024563251063227654,
 -0.04246014729142189,
 0.04172047972679138,
 -0.11434605717658997,
 -0.0318482480943203,
 -0.03177952766418457]

In [89]:
len(emb),emb[:5]

(384,
 [0.0745023638010025,
  0.09563492238521576,
  0.043689947575330734,
  0.0679817795753479,
  -0.06574059277772903])

In [90]:
to_vectorize = [''.join(i.values()) for i in few_shots]

In [91]:
to_vectorize[2]

"How many white color Levi's shirt I have?SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'Result of the SQL query70"

# VectorStore

we have to store this embeding somewhere so to store this embding we have vectorStore so we can store aur embeding into this

the job of VectorStore is to take input questions convert into embedings and find the similar looking few shots examples

In [92]:
from langchain.vectorstores import Chroma

In [93]:
# !pip install chromadb==0.4.15

In [94]:
to_vectorize

["If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n Result of the SQL query17178.55",
 "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'Result of the SQL query17482",
 "How many white color Levi's shirt I have?SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'Result of the SQL query70"]

In [95]:
vectorstore = Chroma.from_texts(to_vectorize, 
                                embedding= embeddings, 
                                metadatas= few_shots)

In [96]:
texts = ["Sample text 1", "Sample text 2", "Sample text 3"]
metadatas = [{"metadata_key": "metadata_value"} for _ in range(len(texts))]
ids = ['id1', 'id2', 'id3']

# Attempt to create the VectorStore using the simplified data
# vectorstore = Chroma.from_texts(texts=texts, metadatas=metadatas, ids=ids)

becouse of some issue i am not able to use perform this code so i check there documentation and get to know that they have made some changes

## Tryning FAISS for VectorStore

In [97]:
from langchain.vectorstores import FAISS

In [98]:
vectorestore = FAISS.from_texts(to_vectorize, embeddings, few_shots, ids)

In [99]:
vectorestore

In [100]:
from langchain.prompts import SemanticSimilarityExampleSelector

In [101]:
example_selector = SemanticSimilarityExampleSelector(vectorstore= vectorestore, k=2)

this wont work for use coz we have used diffrent approch

In [102]:
few_shots[1]

{'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?',
 'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
 'SQLResult': 'Result of the SQL query',
 'Answer': '17482'}

In [103]:
example_selector

SemanticSimilarityExampleSelector(vectorstore=<langchain.vectorstores.faiss.FAISS object at 0x000002A710317950>, k=2, example_keys=None, input_keys=None)

In [104]:
example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?',
  'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
  'SQLResult': 'Result of the SQL query',
  'Answer': '17482'},
 {'Question': "How many white color Levi's shirt I have?",
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
  'SQLResult': 'Result of the SQL query',
  'Answer': '70'}]

## Now we have to give prompt to llm do not use any of your genral knowledge and make things up instead only use columns from the given table and from given database

In [105]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

In [106]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [107]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

### so as you can see we langchain already provides sql prompt its really great

In [108]:
from langchain.prompts import PromptTemplate

In [109]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [110]:
from langchain.prompts import FewShotPromptTemplate

In [111]:
few = FewShotPromptTemplate(example_selector=example_selector, 
                      example_prompt=example_prompt,
                      suffix=PROMPT_SUFFIX, 
                      prefix=_mysql_prompt, input_variables=['input','table_info','top_k'] 
                     )

In [119]:
sql_db = SQLDatabaseChain.from_llm(llm, db, few)

In [124]:
sql_db("How many white color Levi's shirt I have?").get('result'),sql_db("How many white color Levi's shirt I have?")

('102',
 {'query': "How many white color Levi's shirt I have?", 'result': '102'})